@charset "UTF-8";

.secao-home {
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.secao-home p,
h2 {
    padding-left: 2%;
    width: 33%;
}

.tamanhodiferente01 {
    font-family: 'Woodchuck Light';
    font-size: 36px;
    font-weight: lighter;
}

.tamanhodiferente02 {
    font-size: 116px;
}

@media only screen and (max-width: 1024px)  {
    .secao-home {
        background-image: none;
        background-color: #FFBD59;
    }

    .secao-home p,
    h2 {
        width: 96%;
        padding-left: 0;
        padding: 0 2%;
    }
    
}

@media only screen and (max-width: 576px)  {

    h2 .tamanhodiferente01 {
        font-size: 28px;
    }

    .secao-home h2 {
        font-size: 48px;
    }

    .tamanhodiferente02 {
        font-size: 64px;
    }

    .secao-home p,
    h2 {
        width: 92%;
        padding-left: 0;
        padding: 0 4%;
    }

    .secao-home p {
        font-size: 1.25rem;
    }
}